<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="BeeBots_AdminOrder" setup_version="1.0.3">
        <sequence>
            <module name="Magento_Sales"/>
            <module name="BeeBots_AdminOrderHelper"/>
        </sequence>
    </module>
</config>
