@import 'module/_item_adder';
@import 'module/_item_actions';
@import 'module/_item_price_percentage';
@import 'module/_order_tabs';

h1 .go-to-customer {
    .lib-typography(
        @_font-size: @font-size__base,
        @_color: @text__color,
        @_font-family: @font-family__base,
        @_font-weight: @font-weight__regular,
        @_line-height: @line-height__base,
        @_font-style: @font-style__base
    )
}
